{% extends "base.html" %}

{% block content %}
<table class="table table-striped table-dark">
  <thead>
    <tr>
      <th scope="col">Tweet Link</th>
      <th scope="col">Handle</th>
      <th scope="col">Tweet</th>
    </tr>
  </thead>
  <tbody>
  {% for data in data_list %}</li>
    <tr>
      <th scope="row">
        <a href="https://twitter.com/{{ data.handle }}/status/{{ data.reference_id }}" target="_blank">Link</a>
      </th>
      <td>
        <a style="color: gainsboro" href="https://twitter.com/{{data.handle}}" target="_blank">{{ data.handle }}</a>
      </td>
      <td>{{ data.tweet }}</td>
    </tr>
{% endfor %}
  </tbody>
</table>
{% endblock %}